{% extends "index.html" %}

{% block content %}

<div class="d-flex flex-row justify-content-between bd-highlight">
    <div class="d-inline-flex flex-row bd-highlight">
        {% if not editionmode %}
            <div class="p-2 bd-highlight border border-secondary">
                <a class="wiki-link" href="/_edit/{{article.title}}">edit</a>
                <span> | </span>
                <a class="wiki-link" href="/history">history</a>
            </div>
        {% endif %}
    </div>

    {% if not logged %}
        <div class="d-inline-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight border border-primary">
                <a class="wiki-link" href="/login">login</a>
                <span> | </span>
                <a class="wiki-link" href="/signup">signup</a>
            </div>
        </div>
    {% else %}
        <div class="d-inline-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight border border-success">
                <a class="wiki-link text-success" href="/logout">{{username}} [Logout]</a>
            </div>
        </div>
    {% endif %}
</div>

<section>
    {% if editionmode %}
        <form method="post">
            <div class="form-group">
                <label for="titleInput">Title</label>
                {% if newarticle %}
                    <input class="form-control" type="text" id="titleInput"
                           value="{{article.title}}" name="title" autofocus>
                {% else %}
                    <input class="form-control" type="text" id="titleInputDisabled"
                           value="{{article.title}}" name="title" disabled>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="contentInput">Content</label>
                <textarea class="form-control" id="contentInput" rows="20"
                          value="{{article.content}}" name="content">{{article.content}}</textarea>
            </div>
            <div class="form-group">
                <label class="text-danger">{{error}}</label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a href="/wiki" name="cancel" class="btn btn-danger">Cancel</a>
        </form>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm"><strong>{{article.title}}</strong></div>
                <div class="col-sm text-right">
                    by <strong>{{article.author}}</strong> | <strong>{{article.updated|datetime}}</strong>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="article-entry">{{article.content}}</div>
                </div>
            </div>
        </div>
    {% endif %}
</section>

{% endblock %}