{% extends "index.html" %}

{% block content %}

<div class="d-flex flex-row justify-content-between bd-highlight">
    <div class="d-inline-flex flex-row bd-highlight">
        <div class="p-2 bd-highlight">
            <a href="/_edit"><img src="./assets/plus.png" alt="New Article"></a>
        </div>
    </div>

    {% if not logged %}
        <div class="d-inline-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight border border-primary">
                <a class="wiki-link" href="/login">login</a>
                <span> | </span>
                <a class="wiki-link" href="/signup">signup</a>
            </div>
        </div>
    {% else %}
        <div class="d-inline-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight border border-success">
                <a class="wiki-link text-success" href="/logout">{{username}} [Logout]</a>
            </div>
        </div>
    {% endif %}
</div>

{% for article in articles: %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm"><strong>{{article.title}}</strong></div>
                <div class="col-sm text-right"><strong>{{article.updated|datetime}}</strong></div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="article-entry">{{article.content}}</div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{% endblock %}